
<div class="login-page">
  <div class="login-panel">
    <p class="login-text">Login</p>
    <mat-icon class="login-icon">dashboard</mat-icon>

    <p class="aligned-to-center">
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Email</mat-label>
        <input matInput placeholder="myEmail123@gmail.com">
        <mat-icon matSuffix style="color: #673ab7;">alternate_email</mat-icon>
      </mat-form-field>
    </p>

    <p class="aligned-to-center">
      <mat-form-field appearance="outline" class="form-input">
        <mat-label>Password</mat-label>
        <input matInput [type]="passwordHide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="passwordHide = !passwordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="passwordHide">
          <mat-icon style="color: #673ab7;">{{passwordHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </p>

    <div class="buttons">
        <button mat-stroked-button color="primary" class="button">register</button>
      <span class="spacer"></span>
        <button mat-raised-button color="primary" class="button">login</button>
    </div>


  </div>
</div>
