<h1 mat-dialog-title>Add blackboard</h1>
<div mat-dialog-content>
  <form [formGroup]="addBlackboardForm">
    <p>Name</p>
    <mat-form-field appearance="fill" class="blackboard-input">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="blackboardToAdd.name" formControlName="name">
      <mat-error>
        Name cannot be empty
      </mat-error>
    </mat-form-field>

    <p>Description</p>
    <mat-form-field appearance="fill" class="blackboard-input">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="blackboardToAdd.description" formControlName="description">
      <mat-error>
        Description cannot be empty
      </mat-error>
    </mat-form-field>

    <p>Color</p>
    <mat-form-field appearance="outline" class="blackboard-input">
      <mat-label>Color</mat-label>
      <input matInput type="color" [(ngModel)]="blackboardToAdd.color" formControlName="color">
      <mat-error>
        Color cannot be empty
      </mat-error>
    </mat-form-field>
  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="blackboardToAdd" [disabled]="addBlackboardForm.invalid">Add</button>
</div>
