.ticket-container {
  width: 280px;
  height: 120px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(246, 246, 246);
  border: 1px solid rgb(233, 233, 233);
  border-radius: 4px;
  cursor: move;
}
.ticket-title {
  width: 260px;
  height: 60px;
  padding: 10px;
  border-radius: 4px 4px 0 0;
}
.ticket-options {
  width: 130px;
  height: 32px;
  padding: 4px 5px;
  border-radius: 0 0 4px 4px;
  float: left;
}
.ticket-color {
  width: 112px;
  margin: 11px 14px;
  height: 6px;
  border-radius: 6px;
  background-color: blue;
  float: left;
  -webkit-box-shadow: inset 38px -3px 35px -64px rgba(66, 68, 90, 1);
  -moz-box-shadow: inset 38px -3px 35px -64px rgba(66, 68, 90, 1);
  box-shadow: inset 38px -3px 35px -64px rgba(66, 68, 90, 1);
}
.option {
  margin: 0 4px;
  font-size: 20px;
  cursor: pointer;
}
.ticket-container:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.cdk-drag-placeholder {
  opacity: 0;
}
.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
