<div class="navbar">
  <div class="title-container">
    {{blackboard.name}}
  </div>
  <div class="buttons-container">
    <button mat-raised-button class="navbar-button" (click)="openColumnAddDialog()">ADD COLUMN</button>
    <button mat-raised-button class="navbar-button" (click)="openContributorsDialog()" *ngIf="isBlackboardOwner()">CONTRIBUTORS</button>
    <button mat-raised-button class="navbar-button" (click)="tryToEditBlackboard()" *ngIf="isBlackboardOwner()">EDIT</button>
    <button mat-raised-button class="navbar-button" (click)="tryToDeleteBlackboard()" color="warn" *ngIf="isBlackboardOwner()">DELETE</button>
  </div>
  <div style="clear:both;"></div>
</div>
