<h1 mat-dialog-title>Add ticket</h1>
<div mat-dialog-content>
  <form [formGroup]="addTicketForm">
    <p>Name</p>
    <mat-form-field appearance="fill" class="ticket-input">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="dialogData.name" formControlName="name">
      <mat-error>
        Name cannot be empty
      </mat-error>
    </mat-form-field>

    <p>Description</p>
    <mat-form-field appearance="fill" class="ticket-input">
      <mat-label>Description</mat-label>
      <input matInput [(ngModel)]="dialogData.description" formControlName="description">
      <mat-error>
        Description cannot be empty
      </mat-error>
    </mat-form-field>

    <p>Color</p>
    <mat-form-field appearance="outline" class="ticket-input">
      <mat-label>Color</mat-label>
      <input matInput type="color" [(ngModel)]="dialogData.color" formControlName="color" [ngClass]="{'no-color': !dialogData.color}" (ngModelChange)="dialogData.color=$event">
      <mat-error>
        Color cannot be empty
      </mat-error>
    </mat-form-field>
  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="dialogData" [disabled]="addTicketForm.invalid">Add</button>
</div>
