.title {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 30px;
  font-weight: 400;
}
.divider {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 540px;
  margin-left: auto;
  margin-right: auto;
}
.add-contributor-container {
  width: 360px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}
.contributor-input {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.contributor-button {
  margin-left: auto;
  margin-right: 5%;
}
.contributor-text {
  margin-left: 5%;
  margin-right: auto;
}
.exit-button {
  margin-left: 10%;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 30px;
  width:100px;
  height:40px;
}
.add-contributor-expandable-panel {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
