<app-navbar></app-navbar>
<app-blackboard-navbar [blackboard]="blackboard" (addColumnEvent)="addColumn($event)"></app-blackboard-navbar>
<div class="main-container"
  *ngIf="blackboardDetailed"
  cdkDropList
  [cdkDropListData]="blackboardDetailed.columns"
  cdkDropListOrientation="horizontal"
  (cdkDropListDropped)="drop($event)">
  <ng-container cdkDropListGroup>
    <span *ngFor="let column of blackboardDetailed.columns | columnSort">
      <app-blackboard-column [column]="column" [blackboardUUID]="blackboard.uuid" (deleteColumnEvent)="deleteColumn($event)" (addTicketEvent)="addTicket($event)"></app-blackboard-column>
    </span>
  </ng-container>
</div>
