.main-container {
  width: 80%;
  height: 700px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  border-radius: 4px;
  display: -webkit-flex;
  -webkit-flex-flow: row;
  overflow: scroll;
}
