<div class="title">
  DELETE USER ACCOUNT
</div>

<div class="divider"></div>

<div class="main-text">
  Hello user,
  We are sorry to hear that you wish to leave our website. It's been a pleasure hosting you on our app and we hope you'll come back to us again sometime! :)
  Are you sure you want to delete your account on this web application? Remember that deleting your account entails the complete deletion of your account data. All boards, comments, etc. created by you will be deleted.
</div>

<button mat-raised-button color="primary" class="button" (click)="deleteLoggedUserAccount()">Delete account</button>
