.contributor-container {
  margin-top: 10px;
  font-size: 12px;
  padding:0px 10px;
  cursor: pointer;
  transition: 0.3s;
}
.contributor-icon {
  display: inline-block;
  width: 28px;
  height: 28px;
  font-size: 14px;
  background-color: rgb(183, 186, 190);
  border-radius: 50%;
  line-height: 28px;
  text-align: center;
  border: 1px solid rgb(183, 186, 190);
  transition: 0.3s;
}
.contributor-text {
  display: inline-block;
  height: 16px;
  margin-left: 6px;
}
.contributor-container:hover {
  background-color: rgb(183, 186, 190);
}
.contributor-container:hover > .contributor-icon {
  border: 1px solid white;
}
