<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

<div class="main-container">
  <app-navbar-transparent></app-navbar-transparent>

  <div class="title-container">
    <div class="title">HELP PAGE</div>
  </div>
  <div class="subtitle-container">
    <p class="help-option">How to create an account</p>
    <p class="help-option">How to check / edit / delete your account details</p>
    <p class="help-option">How to create a blackboard</p>
    <p class="help-option">How to Add / delete blackboard contributor</p>
    <p class="help-option">How to edit / delete blackboard</p>
    <p class="help-option">How to add column to blackboard</p>
    <p class="help-option">How to add ticket to column</p>
    <p class="help-option">How to edit ticket / column</p>
    <p class="help-option">How to move ticket</p>
    <p class="help-option">How to move column</p>
    <p class="help-option">How to comment ticket</p>
    <p class="help-option">How to asign contributor to ticket</p>
  </div>

  <div class="slide-container">
    <img mat-card-image src="/assets/images/createAccount.png" alt="create account" class="slide-photo">

    <div class="slide-text">
      <div class="slide-text-title">
        How to create an account
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To create an account, you first need to go to the login page. To access the login page, click on the key icon at the top right of the screen. At the bottom of the login page you will find the SIGN UP button which will take you to the registration page. You will then need to fill in all the fields required for registration and press the REGISTER button. If all the fields are filled in correctly, your account will be created.
      </div>
    </div>
  </div>

  <div class="slide-container">
    <div class="slide-text">
      <div class="slide-text-title">
        How to check/edit/delete your account details
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To view/edit/delete your data you must be logged in and then press the man icon at the top right of the screen. You will then see categories on the left-hand side of the screen to select from. The 'User details' category allows you to see your current details. The "Edit user information" category allows you to edit your account information. The category "Delete account" allows you to delete your account along with the boards that belong to your account and the comments you have written.
      </div>
    </div>
    <img mat-card-image src="/assets/images/userDetails.png" alt="account details" class="slide-photo">
  </div>

  <div class="slide-container">
    <img mat-card-image src="/assets/images/createBlackboard.png" alt="create blackboard" class="slide-photo">

    <div class="slide-text">
      <div class="slide-text-title">
        How to create a blackboard
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To create a blackboard you need to click on the word "Blackboards" in the top left corner of the screen. Then click on "Add new Blackboard". After clicking on this button, a form will appear which you will need to fill in to create a blackboard. The created blackboard will appear in the list of all blackboards.
      </div>
    </div>
  </div>

  <div class="slide-container">
    <div class="slide-text">
      <div class="slide-text-title">
        How to Add / delete blackboard contributor
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To add or remove a contributor you must go to the page displaying all the blackboards you have access to. If you are the owner of a blackboard, you will see a 'CONTRIBUTORS' button in the box showing the blackboard. When you click it, a window will open in which you can see the current contributors and remove them with the "remove" button. To add a contributor you need to expand the tab below, which is called "Add new contributor". In the tab you need to enter the email (username) of the user you want to add as a contributor. Once the user has been added, they will appear in the contributors list. Each added user will have the role "contributor". Contributors can also be added in the blackboard details by clicking on the CONTRIBUTORS button.
      </div>
    </div>
    <img mat-card-image src="/assets/images/addContributor.png" alt="add contributor" class="slide-photo">
  </div>

  <div class="slide-container">
    <img mat-card-image src="/assets/images/editBlackboard.png" alt="edit blackboard" class="slide-photo">

    <div class="slide-text">
      <div class="slide-text-title">
        How to edit / delete blackboard
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To edit or delete a blackboard you will need to go to the page displaying all the blackboards you have access to. If you are the owner of a blackboard, in the window showing the blackboard you will see the buttons "EDIT" and "DELETE" which allow you to edit and delete the blackboard in turn.
      </div>
    </div>
  </div>

  <div class="slide-container">
    <div class="slide-text">
      <div class="slide-text-title">
        How to add column to blackboard
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To add a column to the blackboard, you must go to the blackboard preview and then click the button on the right-hand side of the screen "Add column". Once you have clicked the button, you will need to fill in the relevant details and then click 'Add'. The column will appear on the screen.
      </div>
    </div>
    <img mat-card-image src="/assets/images/column.png" alt="add column" class="slide-photo">
  </div>

  <div class="slide-container">
    <img mat-card-image src="/assets/images/ticket.png" alt="add ticket" class="slide-photo">

    <div class="slide-text">
      <div class="slide-text-title">
        How to add ticket to column
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To add a ticket to the column, you must click on the 'Add new ticket' button at the very bottom of the column. When you click the button, the form for adding a ticket will appear. Once you have completed the form, click the 'Add' button and then the added ticket will appear in the column.
      </div>
    </div>
  </div>

  <div class="slide-container">
    <div class="slide-text">
      <div class="slide-text-title">
        How to edit ticket / column
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To delete or edit a column, select one of the options at the very bottom of the column (1.). To delete or edit a ticket select one of the two options at the bottom of the ticket (2.).
      </div>
    </div>
    <img mat-card-image src="/assets/images/editTicketColumn.png" alt="edit column / ticket" class="slide-photo">
  </div>

  <div class="slide-container">
    <img mat-card-image src="/assets/images/ticketMove.png" alt="move ticket" class="slide-photo">

    <div class="slide-text">
      <div class="slide-text-title">
        How to move ticket
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To reposition a ticket, hover the cursor over the ticket until the shift cursor appears. Click and hold the ticket and move to the desired position. This works on the drag&drop principle.</div>
    </div>
  </div>

  <div class="slide-container">
    <div class="slide-text">
      <div class="slide-text-title">
        How to move column
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To reposition a column, hover the cursor over the top until the shift cursor appears. Click and hold the column and move to the desired position. This works on the drag&drop principle.
      </div>
    </div>
    <img mat-card-image src="/assets/images/columnMove.png" alt="edit column / ticket" class="slide-photo">
  </div>

  <div class="slide-container">
    <img mat-card-image src="/assets/images/comment.png" alt="move ticket" class="slide-photo">

    <div class="slide-text">
      <div class="slide-text-title">
        How to comment ticket
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To add a comment, go to the detailed description of the ticket by clicking on the eye icon at the bottom of the ticket. At the bottom of the window you will see the comments and the option to add your own comment. Fill in the text and then click on the 'send' button. The new comment will appear in the list of comments.
      </div>
    </div>
  </div>

  <div class="slide-container">
    <div class="slide-text">
      <div class="slide-text-title">
        How to asign contributor to ticket
      </div>

      <div class="slide-text-divider"></div>

      <div class="slide-text-content">
        To assign a contributor, go to the detailed description of the ticket by clicking on the eye icon at the bottom of the ticket. Select the person you wish to assign and then select them. The person will be assigned to the task.
      </div>
    </div>
    <img mat-card-image src="/assets/images/contributors.png" alt="asign contributor" class="slide-photo">
  </div>

</div>
