<h1 mat-dialog-title>Add blackboard contributor</h1>
<div mat-dialog-content>
  <form [formGroup]="addBlackboardContributorForm">
    <p>Contributor email</p>
    <mat-form-field appearance="fill" class="blackboard-input">
      <mat-label>Contributor email</mat-label>
      <input matInput [(ngModel)]="dialogData.contributorEmail" formControlName="contributorEmail">
      <mat-error>
        Email must be in the proper format
      </mat-error>
    </mat-form-field>
  </form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="closeDialog()">Cancel</button>
  <button mat-button cdkFocusInitial [mat-dialog-close]="dialogData" [disabled]="addBlackboardContributorForm.invalid">Add</button>
</div>
