.main-panel {
  width: 90%;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 2px solid lightgrey;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 17px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 17px -11px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 17px -11px rgba(66, 68, 90, 1);
}
.main-panel-left {
  height: 900px;
  width: 20%;
  border-right: 1px solid lightgrey;
  float:left;
}
.main-panel-right {
  height: 900px;
  width: 65%;
  float:left;
}
.main-panel-left-icon {
  display: block;
  width: 100%;
  text-align: center;
  height: 200px;
  margin-top:50px;
  margin-bottom:10px;
  font-size: 200px;
  background: -webkit-linear-gradient(#884cef, #421f80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// #673ab7
