.main-panel {
  width: 70%;
  height: 800px;
  min-width: 1050px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 2px solid lightgrey;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 17px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 17px -11px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 17px -11px rgba(66, 68, 90, 1);
}
.main-panel-left {
  height: 100%;
  width: 25%;
  border-right: 1px solid lightgrey;
  float:left;
  min-width:300px;
}
.main-panel-right {
  width: 68%;
  float:left;
  padding:3%;
}
.main-panel-left-icon {
  display: block;
  width: 100%;
  text-align: center;
  height: 200px;
  margin-top:50px;
  margin-bottom:10px;
  font-size: 200px;
  background: -webkit-linear-gradient(#884cef, #421f80);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-input {
  width:400px;
}
.form-container {
  margin-left: auto;
  margin-right: auto;
  width:400px;
}
.buttons {
  margin-left: auto;
  margin-right: auto;
  width:120px;
}
.button {
  width:120px;
  height: 40px;
}
.edit-header {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  text-align: center;
  padding-bottom: 20px;
  margin-bottom: 40px;
  margin-top: 2%;
  width:300px;
  border-bottom: 6px solid #884cef;
}
.input-label {
  color: rgb(72, 72, 72);
  margin-left:10px;
  padding-bottom: 5px;
}
.loading-container {
  float:left;
  width:75%;
  height:900px;
}
.loading-icon {
  margin-top:320px;
  margin-left:auto;
  margin-right:auto;
}
.form-container {
  width:400px;
}
// #673ab7
