<!-- {{userData.email}}
{{userData.firstname}}
{{userData.lastname}} -->
<div class="main-panel">
  <div class="main-panel-left">
    <mat-icon class="main-panel-left-icon">account_circle</mat-icon>
    <div class="main-panel-left-options-container">
      <mat-list>
        <mat-divider></mat-divider>
        <mat-list-item mat-icon-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="option">
          <mat-icon class="logo-icon">info</mat-icon>
          <span class="option-text">User details</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item mat-icon-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="option">
          <mat-icon class="logo-icon">build</mat-icon>
          <span class="option-text">Edit user informations</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item mat-icon-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="option">
          <mat-icon class="logo-icon">highlight_off</mat-icon>
          <span class="option-text">Delete account</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item mat-icon-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="option">
          <mat-icon class="logo-icon">exit_to_app</mat-icon>
          <span class="option-text">Logout</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item mat-icon-button routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="option">
          <mat-icon class="logo-icon">help</mat-icon>
          <span class="option-text">Help</span>
        </mat-list-item>
        <mat-divider></mat-divider>
      </mat-list>
    </div>
  </div>
  <div class="main-panel-right">

  </div>
</div>
