.main-container {
  height: 100vh;
  width: 100vw;
  background-color: rgba(96, 54, 170, 1);
  background-image: linear-gradient(150deg, rgba(96, 54, 170, 1) 5%, rgba(103, 58, 183, 1) 33%, rgba(137, 58, 183, 1) 60%, rgba(208, 0, 255, 1) 100%);
}
.main-panel {
  margin-top: 7vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main-panel-left {
  width: 17vw;
  min-width: 260px;
  height: 60vh;
  margin-right: 2vw;
}
.main-panel-right {
  width: 44vw;
  min-width: 500px;
  padding: 10px;
  height: 54vh;
  background-color: white;
  border-radius: 12px;
  -webkit-box-shadow: 3px 5px 24px -11px rgba(66, 68, 90, 1);
  -moz-box-shadow: 3px 5px 24px -11px rgba(66, 68, 90, 1);
  box-shadow: 3px 5px 24px -11px rgba(66, 68, 90, 1);
}
