<div class="options-container">

  <div routerLink="info" routerLinkActive="active" ariaCurrentWhenActive="page" class="option" matRipple>
    User details
  </div>

  <div routerLink="edit" routerLinkActive="active" ariaCurrentWhenActive="page" class="option" matRipple>
    Edit user informations
  </div>

  <div routerLink="delete" routerLinkActive="active" ariaCurrentWhenActive="page" class="option" matRipple>
    Delete account
  </div>

  <div routerLink="info" routerLinkActive="active" ariaCurrentWhenActive="page" class="option" matRipple>
    Logout
  </div>

</div>
