.options-container {
  padding:6px;
}
.option {
  cursor: pointer;
  background-color: rgba($color: #ffffff, $alpha: 0);
  padding: 12px;
  margin-bottom: 16px;
  font-size: 12px;
  border: 2px solid rgba(255, 255, 255, 0.332);
  border-radius: 10px;
  color: white;
  transition: 0.3s;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.option:hover {
  color: white;
  background-color: rgba($color: #ffffff, $alpha: 0.07);
}
